/*
palette
main: rgb(142, 0, 28)
green: #009b48
green_active: #19a75b
border: #742130
hover: #009b48
btn-primary: #ffb300
*/

/*cards.css*/
@-webkit-keyframes color-change-2x {
  0% {
    border-color: #e7eaec;
  }
  100% {
    border-color: rgb(142, 0, 28);
  }
}
@keyframes color-change-2x {
  0% {
    border-color: #e7eaec;
  }
  100% {
    border-color: rgb(142, 0, 28);
  }
}

.home-projects-item-title {
  display: flex;
  padding: 10px;
  font-size: 1.15rem;
  color: rgb(142, 0, 28);
}

.home-badge {
  background: #ffffff;
  color: rgb(142, 0, 28);
  height: 20px;
}

/*nav.css*/
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: rgb(142, 0, 28);
}

nav.navbar-sics {
  height: 80px;
  background: rgb(142, 0, 28);
  border-bottom: none;
  box-shadow: 0 0 2px 0 rgb(142, 0, 28);
  padding: 14px 14px 14px 0;
}

.nav-logo {
  height: 54px;
  margin: -4px 0 0 21px;
}

nav.navbar-sics ul.navbar-nav a:hover,
nav.navbar-sics ul.navbar-nav a:visited,
nav.navbar-sics ul.navbar-nav a:focus,
nav.navbar-sics ul.navbar-nav a:active {
  /*background: #fff;*/
}
nav.navbar-sics ul.navbar-nav a:hover {
  color: white;
  text-decoration: underline; /*border-color: rgb(142, 0, 28);*/
}
nav.navbar-sics li.divider {
  background: rgb(142, 0, 28);
}
nav.navbar-sics button.navbar-toggle {
  background: rgb(142, 0, 28);
  border-radius: 2px;
}
nav.navbar-sics button.navbar-toggle:hover {
  background: rgb(142, 0, 28);
}
nav.navbar-sics button.navbar-toggle > span.icon-bar {
  background: #fff;
}
nav.navbar-sics ul.dropdown-menu {
  border: 0;
  background: #fff;
  border-radius: 4px;
  margin: 4px 0;
  box-shadow: 0 0 4px 0 rgb(142, 0, 28);
}
nav.navbar-sics ul.dropdown-menu > li > a {
  color: rgb(142, 0, 28);
}
nav.navbar-sics ul.dropdown-menu > li > a > img > path {
  fill: rgb(142, 0, 28);
  color: rgb(142, 0, 28);
}
nav.navbar-sics ul.dropdown-menu > li > a:hover {
  background: rgb(142, 0, 28);
  color: #fff;
}
nav.navbar-sics span.badge {
  background: rgb(142, 0, 28);
  font-weight: normal;
  font-size: 11px;
  margin: 0 4px;
}
nav.navbar-sics span.badge.new {
  background: rgba(255, 0, 0, 0.8);
  color: #fff;
}

.navbar2 {
  background: rgb(142, 0, 28) !important;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: rgb(142, 0, 28);
  border-color: rgb(142, 0, 28);
  color: #fff;
  z-index: 100;
  height: 43px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: rgb(142, 0, 28);
  border-color: rgb(142, 0, 28);
  color: #fff;
  z-index: 100;
  height: 43px;
}

/*project_sidebar.css*/
#sidebar-wrapper {
  z-index: 12;
  left: 100px;
  width: 0;
  height: 100%;
  margin-left: -100px;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgb(142, 0, 28);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: rgb(142, 0, 28);
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  height: 80px;
  border-top: solid 1px #742130;
  padding-top: 5px;
}

.sidebar-nav li:nth-child(2):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(3):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(4):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(5):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(6):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(7):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(8):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(9):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(10):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(11):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(12):before {
  background-color: rgb(142, 0, 28);
}
.sidebar-nav li:nth-child(13):before {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:hover {
  /* width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in; */
  background: #009b48;
}

.sidebar-nav li:nth-child(2) a:active,
.sidebar-nav li:nth-child(2) a:focus,
.sidebar-nav li:nth-child(2).open a:active,
.sidebar-nav li:nth-child(2).open a:focus {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:nth-child(3) a:active,
.sidebar-nav li:nth-child(3) a:focus,
.sidebar-nav li:nth-child(3).open a:active,
.sidebar-nav li:nth-child(3).open a:focus {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:nth-child(4) a:active,
.sidebar-nav li:nth-child(4) a:focus,
.sidebar-nav li:nth-child(4).open a:active,
.sidebar-nav li:nth-child(4).open a:focus {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:nth-child(5) a:active,
.sidebar-nav li:nth-child(5) a:focus,
.sidebar-nav li:nth-child(5).open a:active,
.sidebar-nav li:nth-child(5).open a:focus {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:nth-child(6) a:active,
.sidebar-nav li:nth-child(6) a:focus,
.sidebar-nav li:nth-child(6).open a:active,
.sidebar-nav li:nth-child(6).open a:focus {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:nth-child(7) a:active,
.sidebar-nav li:nth-child(7) a:focus,
.sidebar-nav li:nth-child(7).open a:active,
.sidebar-nav li:nth-child(7).open a:focus {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:nth-child(8) a:active,
.sidebar-nav li:nth-child(8) a:focus,
.sidebar-nav li:nth-child(8).open a:active,
.sidebar-nav li:nth-child(8).open a:focus {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:nth-child(9) a:active,
.sidebar-nav li:nth-child(9) a:focus,
.sidebar-nav li:nth-child(9).open a:active,
.sidebar-nav li:nth-child(9).open a:focus {
  background-color: rgb(142, 0, 28);
}

.sidebar-nav li:nth-child(10) a:active,
.sidebar-nav li:nth-child(10) a:focus,
.sidebar-nav li:nth-child(10).open a:active,
.sidebar-nav li:nth-child(10).open a:focus {
  background-color: rgb(142, 0, 28);
}

/*publicDataset.css*/
.publicdataset-issue:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgb(142, 0, 28) !important;
}

.highlighted {
  font-weight: normal;
  font-style: italic;
  color: rgb(142, 0, 28);
}

/*style.css*/
.panel-filter > .panel-heading {
  background-color: rgb(142, 0, 28);
  color: #fff;
  height: 43px;
  border-radius: 0;
}

.panel-filter > .panel-footer {
  background-color: rgb(142, 0, 28);
  color: #fff;
  height: 43px;
  padding: 0 20px 0 5px;
  border-radius: 0;
}

.modal-header {
  background-color: rgb(142, 0, 28);
  color: #ffffff;
}

.pager {
  background-color: rgb(142, 0, 28);
  margin: 0px;
}

.editable-controls .editable-input {
  color: rgb(142, 0, 28);
}

.btn-success {
  color: #fff;
  background-color: #009b48;
  border-color: #009b48;
}

.btn-success.active {
  background-color: #009b48;
}

.btn-success.active:hover {
  background-color: #19a75b;
}

.btn-success:active {
  background-color: #19a75b;
}

.btn-success:hover {
  background-color: #19a75b;
}

#gettingStaredSection .btn-default {
  color: #ffffff;
  background-color: #009b48;
  border-color: rgb(142, 0, 28);
}

#gettingStaredSection .btn-default.disabled,
#gettingStaredSection .btn-default[disabled],
fieldset[disabled] .btn-default,
#gettingStaredSection .btn-default.disabled:hover,
#gettingStaredSection .btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
#gettingStaredSection .btn-default.disabled:focus,
#gettingStaredSection .btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
#gettingStaredSection .btn-default.disabled:active,
#gettingStaredSection .btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
#gettingStaredSection .btn-default.disabled.active,
#gettingStaredSection .btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #009b48;
  border-color: rgb(142, 0, 28);
}



#tourColumn .btn-danger {
  color: #ffffff;
  background-color: #bd1b1b;
  border-color: rgb(142, 0, 28);
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: red;
}

/*other*/
.btn-primary {
  background-color: #ffb300;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

.btn-info {
  color: #3e3e3e;
  background-color: #ffb300;
  border-color: #ffb300;
}

.btn-info:hover {
  color: #3e3e3e;
  background-color: #ffc640;
  border-color: #ffc640;
}

.btn-info:active {
  color: #3e3e3e;
  background-color: #ffc640;
  border-color: #ffc640;
}

.btn-primary:hover {
  background-color: #ffc640 !important;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

.btn-primary:active {
  background-color: #ffc640 !important;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

a {
  color: rgb(142, 0, 28);
}

a:hover, a:focus {
    color: #ffb300;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

path {
  fill: white;
}

.content-wrapper {
  min-height: 69%;
}

@media (min-width: 768px) {
  #filemgr .container-fluid {
    height: calc(56% - 75px);
  }
}


.login-container {
  width: 100%;
  min-height: 0;
  margin-top: 0;
  padding-top: 99px;
  background-color: #f7f8f9;
}

.login-container .panel {
  background-color: #fff;
  border: #792121 0px solid !important;
  box-shadow: 0 4px 9px -3px rgba(102,136,153,.15);
  padding: 8px;
}

.login-container button {
  background-color: #ffb300 !important;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

.login-container button:hover {
  background-color: #ffc640 !important;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

.login-container button:active {
  background-color: #ffc640 !important;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

.login-container img {
  height: 60px !important;
  padding-top: 12px !important;
}

.register-container .panel {
  border: #792121 0px solid !important;
  box-shadow: 0 4px 9px -3px rgba(102,136,153,.15);
}

.register-container button {
  background-color: #ffb300 !important;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

.register-container button:hover {
  background-color: #ffc640 !important;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

.register-container button:active {
  background-color: #ffc640 !important;
  color: #3e3e3e;
  border: 1px solid #ccc;
}

.register-container img {
  width: 130px !important;
  padding-top: 12px !important;
}

.sortorder {
  color: #ffb300;
}

#filemgr a:hover,
a:active,
a:focus,
table th > a:hover,
table th > a:active,
table th > a:focus {
  color: #ffb300;
}

#filemgr .sortorder:after {
  color: #ffb300;
  content: '\25bc';
}

#filemgr .sortorder.reverse:after {
  color: #ffb300;
  /* content: '\25b2'; */
}

#filemgr .table-files .selected {
  background: #8e001c !important;
}

#filemgr .iconset .thumbnail.selected, .table-files .selected td, .table-files .selected td a {
  color: #ffb300;
}

.pagination a {
  color: rgb(142, 0, 28) !important;
}

.pagination > .active > a {
  background-color: rgb(142, 0, 28);
  color: white !important;
  border-color: #ddd !important;
}

.pagination > .active > a:hover {
  background-color: #009b48;
  color: white !important;
  border-color: #ddd !important;
}

.pagination > .active > a:focus {
  background-color: rgb(142, 0, 28) !important;
}

.content-wrapper {
  min-height: 415px;
}

.pon-footer img {
  width: 200px;
}

.pon-footer-grey {
  top: 0;
  height: 100%;
  background-color: #f7f8f9;
}
