/*
palette
main: #0d5c3d
gradient secondary: #0c4d32
border: #105739
hover: #429450
header primary: #115235
header secondary: #166744
*/

/*cards.css*/
@-webkit-keyframes color-change-2x {
  0% {
    border-color: #e7eaec;
  }
  100% {
    border-color: #0d5c3d;
  }
}
@keyframes color-change-2x {
  0% {
    border-color: #e7eaec;
  }
  100% {
    border-color: #0d5c3d;
  }
}

.home-projects-item-title {
  display: flex;
  padding: 10px;
  font-size: 1.15rem;
  color: #0d5c3d;
}

.home-badge {
  background: #ffffff;
  color: #0d5c3d;
  height: 20px;
}

/*nav.css*/
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: #0d5c3d;
}

nav.navbar-sics {
  height: 80px;
  background: linear-gradient(to right, #0d5c3d, #0c4d32);
  border-bottom: none;
  box-shadow: 0 0 2px 0 #0d5c3d;
  padding: 14px 14px 14px 0;
}

.nav-logo {
  height: 55px;
  margin: 0 30px 0 0;
}

nav.navbar-sics ul.navbar-nav a:hover,
nav.navbar-sics ul.navbar-nav a:visited,
nav.navbar-sics ul.navbar-nav a:focus,
nav.navbar-sics ul.navbar-nav a:active {
  /*background: #fff;*/
}
nav.navbar-sics ul.navbar-nav a:hover {
  color: white;
  text-decoration: underline; /*border-color: #0d5c3d;*/
}
nav.navbar-sics li.divider {
  background: #0d5c3d;
}
nav.navbar-sics button.navbar-toggle {
  background: #0d5c3d;
  border-radius: 2px;
}
nav.navbar-sics button.navbar-toggle:hover {
  background: #0d5c3d;
}
nav.navbar-sics button.navbar-toggle > span.icon-bar {
  background: #fff;
}
nav.navbar-sics ul.dropdown-menu {
  border: 0;
  background: #fff;
  border-radius: 4px;
  margin: 4px 0;
  box-shadow: 0 0 4px 0 #0d5c3d;
}
nav.navbar-sics ul.dropdown-menu > li > a {
  color: #0d5c3d;
}
nav.navbar-sics ul.dropdown-menu > li > a:hover {
  background: #0d5c3d;
  color: #fff;
}
nav.navbar-sics span.badge {
  background: #0d5c3d;
  font-weight: normal;
  font-size: 11px;
  margin: 0 4px;
}
nav.navbar-sics span.badge.new {
  background: rgba(255, 0, 0, 0.8);
  color: #fff;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #0d5c3d;
  border-color: #0d5c3d;
  color: #fff;
  z-index: 100;
  height: 43px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #0d5c3d;
  border-color: #0d5c3d;
  color: #fff;
  z-index: 100;
  height: 43px;
}

/*project_sidebar.css*/
#sidebar-wrapper {
  z-index: 12;
  left: 100px;
  width: 0;
  height: 100%;
  margin-left: -100px;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(#0d5c3d, #0c4d32);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #0d5c3d;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  height: 80px;
  border-top: solid 1px #105739;
  padding-top: 5px;
}

.sidebar-nav li:nth-child(2):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(10):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(11):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(12):before {
  background-color: #0d5c3d;
}
.sidebar-nav li:nth-child(13):before {
  background-color: #0d5c3d;
}

.sidebar-nav li:hover {
  /* width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in; */
  background: #429450;
}

.sidebar-nav li:nth-child(2) a:active,
.sidebar-nav li:nth-child(2) a:focus,
.sidebar-nav li:nth-child(2).open a:active,
.sidebar-nav li:nth-child(2).open a:focus {
  background-color: #0d5c3d;
}

.sidebar-nav li:nth-child(3) a:active,
.sidebar-nav li:nth-child(3) a:focus,
.sidebar-nav li:nth-child(3).open a:active,
.sidebar-nav li:nth-child(3).open a:focus {
  background-color: #0d5c3d;
}

.sidebar-nav li:nth-child(4) a:active,
.sidebar-nav li:nth-child(4) a:focus,
.sidebar-nav li:nth-child(4).open a:active,
.sidebar-nav li:nth-child(4).open a:focus {
  background-color: #0d5c3d;
}

.sidebar-nav li:nth-child(5) a:active,
.sidebar-nav li:nth-child(5) a:focus,
.sidebar-nav li:nth-child(5).open a:active,
.sidebar-nav li:nth-child(5).open a:focus {
  background-color: #0d5c3d;
}

.sidebar-nav li:nth-child(6) a:active,
.sidebar-nav li:nth-child(6) a:focus,
.sidebar-nav li:nth-child(6).open a:active,
.sidebar-nav li:nth-child(6).open a:focus {
  background-color: #0d5c3d;
}

.sidebar-nav li:nth-child(7) a:active,
.sidebar-nav li:nth-child(7) a:focus,
.sidebar-nav li:nth-child(7).open a:active,
.sidebar-nav li:nth-child(7).open a:focus {
  background-color: #0d5c3d;
}

.sidebar-nav li:nth-child(8) a:active,
.sidebar-nav li:nth-child(8) a:focus,
.sidebar-nav li:nth-child(8).open a:active,
.sidebar-nav li:nth-child(8).open a:focus {
  background-color: #0d5c3d;
}

.sidebar-nav li:nth-child(9) a:active,
.sidebar-nav li:nth-child(9) a:focus,
.sidebar-nav li:nth-child(9).open a:active,
.sidebar-nav li:nth-child(9).open a:focus {
  background-color: #0d5c3d;
}

.sidebar-nav li:nth-child(10) a:active,
.sidebar-nav li:nth-child(10) a:focus,
.sidebar-nav li:nth-child(10).open a:active,
.sidebar-nav li:nth-child(10).open a:focus {
  background-color: #0d5c3d;
}

/*publicDataset.css*/
.publicdataset-issue:hover {
  cursor: pointer;
  text-decoration: none;
  color: #0d5c3d !important;
}

.highlighted {
  font-weight: normal;
  font-style: italic;
  color: #0d5c3d;
}

/*style.css*/
.panel-filter > .panel-heading {
  background-color: #0d5c3d;
  color: #fff;
  height: 43px;
  border-radius: 0;
}

.panel-filter > .panel-footer {
  background-color: #0d5c3d;
  color: #fff;
  height: 43px;
  padding: 0 20px 0 5px;
  border-radius: 0;
}

.modal-header {
  background-color: #0d5c3d;
  color: #ffffff;
}

.pager {
  background-color: #0d5c3d;
  margin: 0px;
}

.editable-controls .editable-input {
  color: #0d5c3d;
}

#gettingStaredSection .btn-default {
  color: #ffffff;
  background-color: #4cae4c;
  border-color: #0d5c3d;
}

#gettingStaredSection .btn-default.disabled,
#gettingStaredSection .btn-default[disabled],
fieldset[disabled] .btn-default,
#gettingStaredSection .btn-default.disabled:hover,
#gettingStaredSection .btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
#gettingStaredSection .btn-default.disabled:focus,
#gettingStaredSection .btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
#gettingStaredSection .btn-default.disabled:active,
#gettingStaredSection .btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
#gettingStaredSection .btn-default.disabled.active,
#gettingStaredSection .btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #4cae4c;
  border-color: #0d5c3d;
}

#tourColumn .btn-danger {
  color: #ffffff;
  background-color: #bd1b1b;
  border-color: #0d5c3d;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
  border-color: red;
}

/*other*/
.btn-primary {
  background-color: #0d5c3d;
}

a {
  color: #0d5c3d;
}

/* PLATFORM HEADER PLUGIN CUSTOMIZATION */
.gph {
  background-color: #115235 !important;
}

.gph__title {
  color: #fff !important;
}

.gph__item__tab .active {
  color: #fff;
  background: #166744 !important;
  cursor: default;
}

.gph__item__round-icon .active {
  background-color: #166744 !important;
}

.gph__app-menu {
  color: #166744 !important;
}

.gph__app-menu__content__item {
  margin: 5px;
  padding-top: 5px;
  border-radius: 5px;
  fill: #166744 !important;
  cursor: pointer;
}

.gph__profile-card .edit-profile-button {
  background-color: #166744 !important;
}
