.header-platform {
    position: fixed !important;
    z-index: 2000;
}

.gph {
    position: fixed !important;
    z-index: 2000 !important;
}

.navbar-fixed-top {
    top: 50px !important;
}

.widget-body {
    height: 80%; 
}

.content {
    margin-top: 64px !important;
}

.content-wrapper {
    margin-top: 64px !important;
}

.gph__item__round-icon__content {
    height: 30px !important;
}
